{% extends "base_sidebar.html" %}

{% block content %}

<h1>My Courses</h1>

{% if courses %}

<div style="display:flex; gap:20px; flex-wrap:wrap;">

    {% for c in courses %}
        <a href="/course/{{ c.section_id }}" style="text-decoration:none; color:black;">
            <div style="
                border:1px solid #ccc;
                padding:15px;
                width:250px;
                border-radius:10px;
                transition:0.2s;
            ">
                <h3>{{ c.course_code }}</h3>
                <p>{{ c.course_name }}</p>
                <small>Section: {{ c.section_name }}</small>
            </div>
        </a>
    {% endfor %}

</div>


{% else %}
    <p>No courses enrolled.</p>
{% endif %}

{% endblock %}